body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #111;
}

div#top {
	width: calc(100% - 16px);
	min-height: 98vh;
	margin-top: 2vh;
	z-index: 25;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#top-content {
	flex-grow: 100;
}

div#scroll {
	height: 1em;
	margin: 1em 0 4em 0;
	font-weight: 800;
	text-align: center;
	white-space: nowrap;
}

div#find {
	position: absolute;
	top: 1em;
	right: 1em;
	cursor: pointer;
}

div.deck {
	cursor: pointer;
}

div.card {
	width: calc(97% - 2vh);
	max-width: 60vh;
	height: 80vh;
	border: 1vh solid black;
	border-radius: 2vh;
	background: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

div.card.drawn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 75;
	box-shadow: 5vw 8vh 8vh black;
	display: none;
}

#darkener {
	z-index: 70;
	display: none;
	background-color: #00000050;
	position: fixed;
	top: -200vh;
	left: -200vw;
	height: 500vh;
	width: 500vw;
}

div#hand {
	width: calc(100% - 16px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

div#hand div.card {
	margin-bottom: 3vh;
	position: relative;
	box-shadow: 1vw 1vh 1vh black;
}

i.material-icons {
	vertical-align: middle;
}

div.tab {
	background-color: gray;
	width: 50%;
	height: 2em;
	position: absolute;
	cursor: pointer;
}

div.tab-hand {
	bottom: 7em;
	right: 2vw;
}

div.tab-deck {
	bottom: 4em;
	right: 2vw;
}

div.tab-discard {
	bottom: 1em;
	right: 2vw;
}

div.tab-down {
	bottom: 1em;
	left: 2vw;
}

div.tab-up {
	bottom: 4em;
	left: 2vw;
}

div.menu {
	width: 80vw;
	max-width: 500px;
	height: 70vh;
	position: fixed;
	background-color: white;
	z-index: 90;
	top: 50vh;
	margin-top: -35vh;
	border-radius: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.menu input,
div.menu button,
div.menu div {
	margin-top: 2em;
	width: 66%;
	text-align: center;
}

div#links {
	overflow-y: scroll;
	width: 80%;
	text-align: left;
}

#preload {
	display: none;
} 
body.betrayal-2e {
	background-color: rgb(56, 51, 51);
	font-family: 'Jacques Francois', serif;
}

.betrayal-2e div#top-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 2vw;
}

.betrayal-2e div.card {
	width: calc(82% - 2vh);
	max-width: 41vh;
	border: 2vh solid black;
	border-radius: 5vh;
	background-image: url("games/betrayal-2e/images/texture.png");
	background-repeat: repeat;
}

.betrayal-2e div.deck {
	border: 0.5vh solid black;
	border-radius: 1vh;
	position: relative;
	height: 38vh;
	max-height: 800px;
	width: 19vh;
	max-width: 400px;
}

.betrayal-2e div.card .card-art {
	width: 50%;
	height: auto;
	border: 0.4vh solid black;
	border-radius: 0.4vh;
}

.betrayal-2e div.card .card-icon {
	width: 20%;
	height: auto;
}

.betrayal-2e div.card .card-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: large;
}

.betrayal-2e div.card .card-text {
	text-align: center;
	font-size: small;
}

.betrayal-2e div.card .card-id {
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: smaller;
	color: #00000070;
}

.betrayal-2e div.card.item {
	background-color: #E2DDB1;
}

.betrayal-2e div.card.omen {
	background-color: #9FB79A;
}

.betrayal-2e div.card.event {
	background-color: #B5AC9D;
}

.betrayal-2e div#scroll {
	color: rgba(134, 132, 111, 0.664);
} 
