body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #111;
}

div#top {
	width: calc(100% - 16px);
	min-height: 98vh;
	margin-top: 2vh;
	z-index: 25;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.shadow {
	box-shadow: 1px 2px 2px black;
}

.round, .round-wide {
	border-radius: 1em;
	width: 2em;
	height: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.round-wide {
	width: auto;
	padding-left: 1em;
	padding-right: 1em;
}

div#top-content {
	flex-grow: 100;
}

div#scroll {
	height: 1em;
	margin: 1em 0 4em 0;
	font-weight: 800;
	text-align: center;
	white-space: nowrap;
}

div#find {
	position: absolute;
	top: 1em;
	right: 1em;
	cursor: pointer;
	background-color: gray;
	z-index: 50;
}

div.deck {
	cursor: pointer;
}

div.card {
	width: calc(97% - 2vh);
	max-width: 60vh;
	height: 80vh;
	border: 1vh solid black;
	border-radius: 2vh;
	background: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	gap: 1em;
}

div.card.drawn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 75;
	box-shadow: 5vw 8vh 8vh black;
	display: none;
}

#darkener {
	z-index: 70;
	display: none;
	background-color: #00000050;
	position: fixed;
	top: -200vh;
	left: -200vw;
	height: 500vh;
	width: 500vw;
}

div#hand {
	width: calc(100% - 16px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

div#hand div.card {
	margin-bottom: 3vh;
	position: relative;
	box-shadow: 1vw 1vh 1vh black;
}

i.material-icons {
	vertical-align: middle;
}

div.tab {
	background-color: gray;
	position: absolute;
	cursor: pointer;
	right: -2vw;
}

div.tab-actions {
	bottom: 4em;
}

div.tab-hand {
	right: calc(-2vw + 3em);
	bottom: 7em;
	display: none;
}

div.tab-deck {
	right: calc(-2vw + 3em);
	bottom: 4em;
	display: none;
}

div.tab-discard {
	right: calc(-2vw + 3em);
	bottom: 1em;
	display: none;
}

div.tab-down {
	bottom: 1em;
}

div.tab-up {
	bottom: 7em;
}

div.menu {
	width: 80vw;
	max-width: 500px;
	height: 70vh;
	position: fixed;
	background-color: white;
	z-index: 90;
	top: 50vh;
	margin-top: -35vh;
	border-radius: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.menu input,
div.menu select,
div.menu button,
div.menu div {
	margin-top: 2em;
	width: 66%;
	text-align: center;
}

div.menu div#close {
	position: absolute;
	top: 1em;
	right: 1em;
	width: auto;
	height: auto;
	margin-top: auto;
	cursor: pointer;
}

div#links {
	overflow-x: clip;
	overflow-y: scroll;
	width: 80%;
	text-align: left;
}

#preload {
	display: none;
} 
body.betrayal-2e {
	background-color: rgb(56, 51, 51);
	font-family: 'Jacques Francois', serif;
}

.betrayal-2e div#top-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 2vw;
}

.betrayal-2e div.deck {
	background-image: url("games/betrayal-2e/images/texture.png");
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: larger;
	font-weight: bolder;
	text-align: center;
	box-shadow: 1px 2px 2px black;
}

.betrayal-2e div.deck img {
	width: 80%;
	height: auto;
	margin-bottom: 1em;
}

.betrayal-2e div.deck div.count {
	font-size: small;
	font-weight: default;
}

.betrayal-2e div.card {
	width: calc(82% - 2vh);
	max-width: 41vh;
	border: 2vh solid black;
	border-radius: 5vh;
	background-image: url("games/betrayal-2e/images/texture.png");
	background-repeat: repeat;
}

.betrayal-2e div.deck {
	border: 0.5vh solid black;
	border-radius: 1vh;
	position: relative;
	height: 38vh;
	max-height: 800px;
	width: 19vh;
	max-width: 400px;
}

.betrayal-2e div.card .card-art {
	width: 50%;
	height: auto;
	border: 0.4vh solid black;
	border-radius: 0.4vh;
	justify-self: flex-start;
	object-fit: contain;
	height: intrinsic !important;
}

.betrayal-2e div.card .card-icon {
	width: 20%;
	height: auto;
	margin-bottom: -1em;
	justify-self: flex-start;
	object-fit: contain;
	height: intrinsic !important;
}

.betrayal-2e div.card .card-title {
	text-transform: uppercase;
	font-weight: bolder;
	font-size: large;
	text-align: center;
}

.betrayal-2e div.card .card-text {
	text-align: left;
	font-size: small;
}

.betrayal-2e div.card .card-text .b {
	text-align: center;
	font-weight: bolder;
}

.betrayal-2e div.card .card-text .c {
	margin: 0.6em;
}

.betrayal-2e div.card .card-text .r {
	display: flex;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.betrayal-2e div.card .card-text .r~.r {
	margin-top: 0;
}

.betrayal-2e div.card .card-text .n {
	font-weight: 1000;
	min-width: 2em;
	padding-left: 0.25em;
}

.betrayal-2e div.card .card-id {
	position: absolute;
	top: 0.7vh;
	right: 1.5vh;
	font-size: smaller;
	color: #00000070;
}

.betrayal-2e div.card.item,
.betrayal-2e div.deck#items {
	background-color: #E2DDB1;
}

.betrayal-2e div.deck#items.empty {
	background-color: #3e3d30;
}

.betrayal-2e div.card.omen,
.betrayal-2e div.deck#omens {
	background-color: #9FB79A;
}

.betrayal-2e div.deck#omens.empty {
	background-color: #272d25;
}

.betrayal-2e div.card.event,
.betrayal-2e div.deck#events {
	background-color: #B5AC9D;
}

.betrayal-2e div.deck#events.empty {
	background-color: #2d2b27;
}

.betrayal-2e div.deck#discard {
	background-color: #4f4e4c;
}

.betrayal-2e div.deck#discard.empty {
	background-color: #00000000;
	background-image: none;
}

.betrayal-2e div#scroll {
	color: rgba(134, 132, 111, 0.664);
} 
