body {
	margin: 0;
}

div#top {
	position: absolute;
	top: 2vh;
	left: calc(1vw + 8px);
	width: calc(98vw - 16px);
	min-height: 90vh;
	z-index: 25;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#top-content {
	flex-grow: 100;
}

div#scroll {
	height: 1em;
	margin: 1em 0 1em 0;
	font-weight: 800;
}

div.card {
	width: calc(97% - 2vh);
	max-width: 60vh;
	height: 80vh;
	border: 1vh solid black;
	border-radius: 2vh;
	background: white;
	padding: 20px;
}

div.card.drawn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 75;
}

div#hand {
	position: absolute; 
	top: 100vh;
	left: calc(1vw + 8px);
	width: calc(98vw - 16px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#hand div.card {
	margin-bottom: 3vh;
}

i.material-icons {
	vertical-align: middle;
} 
body.betrayal {
	background-color: rgb(56, 51, 51);
}

.betrayal div#top-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 2vw;
}

.betrayal div.card {
	width: calc(82% - 2vh);
	max-width: 41vh;
	border: 2vh solid black;
	border-radius: 5vh;
}

.betrayal div.deck {
	border: 0.5vh solid black;
	border-radius: 1vh;
	position: relative;
	height: 38vh;
	max-height: 800px;
	width: 19vh;
	max-width: 400px;
}


.betrayal div.card.item {
	background: yellow;
}

.betrayal div.card.omen {
	background: green;
}

.betrayal div.card.event {
	background: brown;
}


div#scroll {
	color: rgba(134, 132, 111, 0.664);
} 
