body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#top {
	width: calc(100% - 16px);
	min-height: 98vh;
	margin-top: 2vh;
	z-index: 25;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#top-content {
	flex-grow: 100;
}

div#scroll {
	height: 1em;
	margin: 1em 0 4em 0;
	font-weight: 800;
	text-align: center;
	white-space: nowrap;
}

div.card {
	width: calc(97% - 2vh);
	max-width: 60vh;
	height: 80vh;
	border: 1vh solid black;
	border-radius: 2vh;
	background: white;
	padding: 20px;
}

div.card.drawn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 75;
}

div#hand {
	width: calc(100% - 16px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#hand div.card {
	margin-bottom: 3vh;
	position: relative;
}

i.material-icons {
	vertical-align: middle;
}

div.tab {
	background-color: gray;
	width: 40%;
	height: 2em;
	position: absolute;
}

div.tab-hand {
	bottom: 7em;
	right: 2vw;
}

div.tab-deck {
	bottom: 4em;
	right: 2vw;
}

div.tab-discard {
	bottom: 1em;
	right: 2vw;
}

div.tab-down {
	bottom: 1em;
	left: 2vw;
}

div.tab-up {
	bottom: 4em;
	left: 2vw;
}