body.betrayal-2e {
	background-color: rgb(56, 51, 51);
}

.betrayal-2e div#top-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 2vw;
}

.betrayal-2e div.card {
	width: calc(82% - 2vh);
	max-width: 41vh;
	border: 2vh solid black;
	border-radius: 5vh;
}

.betrayal-2e div.deck {
	border: 0.5vh solid black;
	border-radius: 1vh;
	position: relative;
	height: 38vh;
	max-height: 800px;
	width: 19vh;
	max-width: 400px;
}

.betrayal-2e div.card.item {
	background: yellow;
}

.betrayal-2e div.card.omen {
	background: green;
}

.betrayal-2e div.card.event {
	background: brown;
}

.betrayal-2e div#scroll {
	color: rgba(134, 132, 111, 0.664);
}