body.betrayal-2e {
	background-color: rgb(56, 51, 51);
	font-family: 'Jacques Francois', serif;
}

.betrayal-2e div#top-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 2vw;
}

.betrayal-2e div.deck {
	background-image: url("games/betrayal-2e/images/texture.png");
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: larger;
	font-weight: bolder;
	text-align: center;
	box-shadow: 1px 2px 2px black;
}

.betrayal-2e div.deck div.count {
	font-size: small;
	font-weight: default;
}

.betrayal-2e div.card {
	width: calc(82% - 2vh);
	max-width: 41vh;
	border: 2vh solid black;
	border-radius: 5vh;
	background-image: url("games/betrayal-2e/images/texture.png");
	background-repeat: repeat;
}

.betrayal-2e div.deck {
	border: 0.5vh solid black;
	border-radius: 1vh;
	position: relative;
	height: 38vh;
	max-height: 800px;
	width: 19vh;
	max-width: 400px;
}

.betrayal-2e div.deck .card-icon {
	width: 80%;
	padding-bottom: 80%;
	margin-bottom: 1em;
	background-size: cover;
}

.betrayal-2e div.card .card-art {
	width: 50%;
	padding-bottom: 50%;
	border: 0.4vh solid black;
	border-radius: 0.4vh;
	background-size: cover;
}

.betrayal-2e div.card .card-icon {
	width: 20%;
	padding-bottom: 20%;
	margin-bottom: -1em;
	background-size: cover;
}

.betrayal-2e div.card .card-title {
	text-transform: uppercase;
	font-weight: bolder;
	font-size: large;
	text-align: center;
}

.betrayal-2e div.card .card-suffix {
	font-size: small;
}

.betrayal-2e div.card .card-text {
	text-align: left;
	font-size: small;
}

.betrayal-2e div.card .card-text .b {
	text-align: center;
	font-weight: bolder;
}

.betrayal-2e div.card .card-text .c {
	margin: 0.6em;
}

.betrayal-2e div.card .card-text .r {
	display: flex;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.betrayal-2e div.card .card-text .r~.r {
	margin-top: 0;
}

.betrayal-2e div.card .card-text .n {
	font-weight: 1000;
	min-width: 2em;
	padding-left: 0.25em;
}

.betrayal-2e div.card .card-id {
	position: absolute;
	top: 0.7vh;
	right: 1.5vh;
	font-size: smaller;
	color: #00000070;
}

.betrayal-2e div.card.item,
.betrayal-2e div.deck#items {
	background-color: #E2DDB1;
}

.betrayal-2e div.deck#items.empty {
	background-color: #3e3d30;
}

.betrayal-2e div.card.omen,
.betrayal-2e div.deck#omens {
	background-color: #9FB79A;
}

.betrayal-2e div.deck#omens.empty {
	background-color: #272d25;
}

.betrayal-2e div.card.event,
.betrayal-2e div.deck#events {
	background-color: #B5AC9D;
}

.betrayal-2e div.deck#events.empty {
	background-color: #2d2b27;
}

.betrayal-2e div.deck#discard {
	background-color: #4f4e4c;
}

.betrayal-2e div.deck#discard.empty {
	background-color: #00000000;
	background-image: none;
}

.betrayal-2e div#scroll {
	color: rgba(134, 132, 111, 0.664);
}