body.betrayal-2e {
	background-color: rgb(56, 51, 51);
	font-family: 'Jacques Francois', serif;
}

.betrayal-2e div#top-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 2vw;
}

.betrayal-2e div.card {
	width: calc(82% - 2vh);
	max-width: 41vh;
	border: 2vh solid black;
	border-radius: 5vh;
	background-image: url("games/betrayal-2e/images/texture.png");
	background-repeat: repeat;
}

.betrayal-2e div.deck {
	border: 0.5vh solid black;
	border-radius: 1vh;
	position: relative;
	height: 38vh;
	max-height: 800px;
	width: 19vh;
	max-width: 400px;
}

.betrayal-2e div.card .card-art {
	width: 50%;
	height: auto;
	border: 0.4vh solid black;
	border-radius: 0.4vh;
}

.betrayal-2e div.card .card-icon {
	width: 20%;
	height: auto;
}

.betrayal-2e div.card .card-title {
	text-transform: uppercase;
	font-weight: bolder;
	font-size: large;
}

.betrayal-2e div.card .card-text {
	text-align: left;
	font-size: small;
}

.betrayal-2e div.card .card-text .b {
	text-align: center;
	font-weight: bolder;
}

.betrayal-2e div.card .card-text .r {
	display: flex;
}

.betrayal-2e div.card .card-text .n {
	font-weight: 1000;
	min-width: 2em;
	padding-left: 0.25em;
}

.betrayal-2e div.card .card-id {
	position: absolute;
	top: 1em;
	right: 1em;
	font-size: smaller;
	color: #00000070;
}

.betrayal-2e div.card.item {
	background-color: #E2DDB1;
}

.betrayal-2e div.card.omen {
	background-color: #9FB79A;
}

.betrayal-2e div.card.event {
	background-color: #B5AC9D;
}

.betrayal-2e div#scroll {
	color: rgba(134, 132, 111, 0.664);
}